# Configuração extra para o Elastic Beanstalk (plataforma "Python" em Amazon
# Linux 2023 ou 2). Isso garante que ele saiba onde está o app WSGI, mesmo
# que o padrão automático não seja detectado corretamente.
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
